interactions:
- request:
    body: client=REDACTED&clientversion=REDACTED&format=json&meta=recordings+releasegroups+releases+tracks+compress+sources&fingerprint=AQADtImmJYkkSYDYLc2Ra0ZNGBZ6_HhO5Eje43gSbviLnkWTEz_xGX9RX7B-vEQ6DeKPjiLyCD2aLOpxNHvR4yPxF05zfEgm80iNM8fj4z2er_DxDUXX5XhQ47iQH5eG49Deo_mCBw9O9DoaHNdxNDfy4fiPljyO76jV4ug13CryHcl1nMf5CK32I6EihA-H-3gz-EiuC9ETnHiKGjyI_rgRRj-SSTn6Gj5yHEd-4Phd_PjhC0aOhM-P6h-eVM1RcocfHT8uFl7Q7wKH48dJH23hD8jEOEd_QTu-HP6wBw9-HIc7QbjhA3H3QOxh8vhxHz8e_fiSHT_eHz_CzUfyKMelzUff4PrxBFuP73B-WEn0gJGYj_jRd[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/release/b9608c76-ae35-372d-9e05-af2c5e1caec3?fmt=json&inc=artists%2Bartist-credits%2Brecordings%2Brelease-groups%2Bmedia%2Bisrcs%2Blabels%2Bgenres%2Brecording-level-rels%2Bwork-level-rels%2Brelease-rels%2Bartist-rels%2Bwork-rels
  response:
    body:
      string: '{"status":"Official","id":"b9608c76-ae35-372d-9e05-af2c5e1caec3","release-group":{"secondary-type-ids":[],"title":"Carmen‐Fantasie","first-release-date":"1993-09-01","disambiguation":"","secondary-types":[],"id":"55756b4d-4190-3b86-a238-349fd1b373ca","primary-type-id":"f529b476-6e62-324f-b0aa-1f3e33d313fc","artist-credit":[{"joinphrase":",
        ","artist":{"type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","country":"DE","id":"206e3a6b-301f-4a0d-8632-7dfd7927cbcf","type":"Person","sort-name":"Mutter,
        Anne‐Sophie","disambiguation":"violinist","name":"Anne‐Sophie Mutter"},"name":"Anne‐Sophie
        Mutter"},{"artist":{"id":"d770374d-05e9-4ed3-a068-3fbd4e6e4dd6","type-id":"a0b36c92-3eb1-3839-a4f9-4799823f54a5","country":"AT","sort-name":"Wiener
        Philharmoniker","disambiguation":"","name":"Wiener Philharmoniker","type":"Orchestra"},"name":"Wiener
        Philharmoniker","joinphrase":", "},{"joinphrase":"","artist":{"type":"Person","name":"James
        Levine","disambiguation":"US conductor and pianist","sort-name":"Levine, James","country":"US","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","id":"37a2d213-9c2b-4216-a02c-10b1e150c130"},"name":"James
        Levine"}],"primary-type":"Album","genres":[{"id":"6ed4e4d1-9a97-4e2c-b8df-083754f154f4","count":1,"disambiguation":"","name":"classical"}]},"quality":"normal","status-id":"4e304316-386d-3409-af2e-78857eec5cfe","label-info":[{"catalog-number":"437
        544-2","label":{"type-id":"b6285b2a-3514-3d43-80df-fcf528824ded","genres":[{"disambiguation":"","name":"classical","count":2,"id":"6ed4e4d1-9a97-4e2c-b8df-083754f154f4"},{"name":"western
        classical","disambiguation":"","id":"bf9955d6-c3eb-466d-95ca-30f3848fc9ea","count":1}],"label-code":173,"id":"5a584032-dcef-41bb-9f8b-19540116fb1c","type":"Imprint","name":"Deutsche
        Grammophon","disambiguation":"","sort-name":"Deutsche Grammophon"}}],"relations":[],"barcode":"028943754422","cover-art-archive":{"darkened":false,"count":23,"front":true,"artwork":true,"back":true},"packaging-id":"ec27701a-4a22-37f4-bfac-6616e0f9750a","artist-credit":[{"joinphrase":",
        ","artist":{"genres":[{"disambiguation":"","name":"classical","id":"6ed4e4d1-9a97-4e2c-b8df-083754f154f4","count":1},{"disambiguation":"","name":"western
        classical","count":1,"id":"bf9955d6-c3eb-466d-95ca-30f3848fc9ea"}],"country":"DE","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","id":"206e3a6b-301f-4a0d-8632-7dfd7927cbcf","disambiguation":"violinist","name":"Anne‐Sophie
        Mutter","sort-name":"Mutter, Anne‐Sophie","type":"Person"},"name":"Anne‐Sophie
        Mutter"},{"name":"Wiener Philharmoniker","artist":{"sort-name":"Wiener Philharmoniker","disambiguation":"","name":"Wiener
        Philharmoniker","type":"Orchestra","id":"d770374d-05e9-4ed3-a068-3fbd4e6e4dd6","genres":[{"id":"6ed4e4d1-9a97-4e2c-b8df-083754f154f4","count":3,"disambiguation":"","name":"classical"}],"type-id":"a0b36c92-3eb1-3839-a4f9-4799823f54a5","country":"AT"},"joinphrase":",
        "},{"artist":{"id":"37a2d213-9c2b-4216-a02c-10b1e150c130","sort-name":"Levine,
        James","disambiguation":"US conductor and pianist","name":"James Levine","type":"Person","genres":[{"disambiguation":"","name":"classical","id":"6ed4e4d1-9a97-4e2c-b8df-083754f154f4","count":3}],"type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","country":"US"},"name":"James
        Levine","joinphrase":""}],"disambiguation":"","title":"Carmen‐Fantasie","release-events":[{"area":{"type-id":null,"id":"85752fda-13c4-31a3-bee5-0e5cb1f51dad","iso-3166-1-codes":["DE"],"type":null,"disambiguation":"","name":"Germany","sort-name":"Germany"},"date":"1993-09-01"}],"genres":[{"id":"6ed4e4d1-9a97-4e2c-b8df-083754f154f4","count":1,"name":"classical","disambiguation":""}],"text-representation":{"script":"Latn","language":"mul"},"packaging":"Jewel
        Case","media":[{"tracks":[{"position":1,"length":521000,"number":"1","title":"Zigeunerweisen,
        op. 20","recording":{"genres":[{"count":1,"id":"6ed4e4d1-9a97-4e2c-b8df-083754f154f4","disambiguation":"","name":"classical"}],"relations":[{"ended":true,"target-type":"artist","end":"1992-11","type-id":"234670ce-5f22-4fd0-921b-ef1662695c5d","source-credit":"","attribute-ids":{},"attributes":[],"target-credit":"","type":"conductor","attribute-values":{},"direction":"backward","begin":"1992-11","artist":{"disambiguation":"US
        conductor and pianist","name":"James Levine","sort-name":"Levine, James","type":"Person","id":"37a2d213-9c2b-4216-a02c-10b1e150c130","country":"US","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df"}},{"attribute-credits":{},"artist":{"id":"206e3a6b-301f-4a0d-8632-7dfd7927cbcf","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","country":"DE","sort-name":"Mutter,
        Anne‐Sophie","name":"Anne‐Sophie Mutter","disambiguation":"violinist","type":"Person"},"begin":"1992-11","type":"instrument","source-credit":"","end":"1992-11","attribute-ids":{"violin":"089f123c-0f7d-4105-a64e-49de81ca8fa4"},"target-credit":"","attributes":["violin"],"direction":"backward","attribute-values":{},"type-id":"59054b12-01ac-43ee-a618-285fd397e461","target-type":"artist","ended":true},{"target-type":"artist","end":"1992-11","type-id":"3b6616c5-88ba-4341-b4ee-81ce1e6d7ebb","ended":true,"source-credit":"","attribute-ids":{},"attributes":[],"target-credit":"","type":"performing
        orchestra","attribute-values":{},"artist":{"id":"d770374d-05e9-4ed3-a068-3fbd4e6e4dd6","country":"AT","type-id":"a0b36c92-3eb1-3839-a4f9-4799823f54a5","disambiguation":"","name":"Wiener
        Philharmoniker","sort-name":"Wiener Philharmoniker","type":"Orchestra"},"begin":"1992-11","direction":"backward"},{"type":"producer","attribute-values":{},"begin":"1992-11","direction":"backward","artist":{"type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","country":"DE","id":"429d856c-bc57-4ce0-a2b8-6bb5dda8f226","type":"Person","sort-name":"Mayer,
        Werner","disambiguation":"classical producer","name":"Werner Mayer"},"attributes":["additional"],"target-credit":"","attribute-ids":{"additional":"0a5341f8-3b1d-4f99-a0c6-26b7f4e42c7f"},"ended":true,"end":"1992-11","target-type":"artist","type-id":"5c0ceac3-feb4-41f0-868d-dc06f6e27fc0","source-credit":""},{"begin":null,"direction":"backward","artist":{"id":"c856320c-d04a-448a-a81f-c0edab30d096","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","country":null,"sort-name":"Markl,
        Ewald","disambiguation":"","name":"Ewald Markl","type":"Person"},"attribute-values":{},"type":"producer","target-credit":"","attributes":["co"],"attribute-ids":{"co":"ac6f6b4c-a4ec-4483-a04e-9f425a914573"},"source-credit":"","ended":false,"target-type":"artist","end":null,"type-id":"5c0ceac3-feb4-41f0-868d-dc06f6e27fc0"},{"target-credit":"","attributes":["executive"],"artist":{"type":"Person","sort-name":"Wright,
        Roger","name":"Roger Wright","disambiguation":"pianist","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","country":"US","id":"a3fb3077-b1a0-4b2a-87db-0c47dd326bdf"},"begin":null,"direction":"backward","type":"producer","attribute-values":{},"source-credit":"","end":null,"target-type":"artist","type-id":"5c0ceac3-feb4-41f0-868d-dc06f6e27fc0","ended":false,"attribute-ids":{"executive":"e0039285-6667-4f94-80d6-aa6520c6d359"}},{"end":"1992-11","target-type":"artist","type-id":"a01ee869-80a8-45ef-9447-c59e91aa7926","ended":true,"source-credit":"","attribute-ids":{},"attributes":[],"target-credit":"","type":"recording","attribute-values":{},"artist":{"id":"b7df46cd-54dd-4507-9b0e-bb248b201b79","country":"DE","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","name":"Wolf‐Dieter
        Karwatky","disambiguation":"","sort-name":"Karwatky, Wolf‐Dieter","type":"Person"},"begin":"1992-11","direction":"backward"},{"attribute-ids":{},"source-credit":"","ended":true,"target-type":"artist","end":"1992-11","type-id":"a01ee869-80a8-45ef-9447-c59e91aa7926","direction":"backward","begin":"1992-11","artist":{"sort-name":"Schmidt,
        Reinhild","name":"Reinhild Schmidt","disambiguation":"Sound engineer and producer
        for Deutsche Grammophon","type":"Person","id":"c735d5c4-1031-4150-9fa6-46a56c07b094","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","country":null},"type":"recording","attribute-values":{},"target-credit":"","attributes":[]},{"work":{"type":null,"title":"Zigeunerweisen,
        op. 20","iswcs":[],"disambiguation":"for violin and orchestra","attributes":[],"id":"77ceb3d1-08d1-31b0-991f-aba980da75c9","languages":["zxx"],"type-id":null,"language":"zxx","relations":[{"source-credit":"","target-type":"artist","end":"1878","type-id":"d59d99ea-23d4-4a80-b066-edca32ee158f","ended":true,"attribute-ids":{},"target-credit":"","attributes":[],"artist":{"country":"ES","type-id":"b6e035f4-3ce9-331c-97df-83397230b0df","id":"05f12d97-ecae-4fd6-bb03-53a4bd1322a8","type":"Person","disambiguation":"violinist
        and composer","name":"Pablo de Sarasate","sort-name":"Sarasate, Pablo de"},"direction":"backward","begin"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://coverartarchive.org/release/b9608c76-ae35-372d-9e05-af2c5e1caec3
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://archive.org/download/mbid-b9608c76-ae35-372d-9e05-af2c5e1caec3/index.json
    status:
      code: 307
      message: Temporary Redirect
- request:
    body: null
    headers:
    method: GET
    uri: https://archive.org/download/mbid-b9608c76-ae35-372d-9e05-af2c5e1caec3/index.json
  response:
    body:
      string: '{"images": [{"front": true, "back": false, "image": "http://coverartarchive.org/release/b9608c76-ae35-372d-9e05-af2c5e1caec3/888805167.jpg",
        "thumbnails": {"250": "http://coverartarchive.org/release/b9608c76-ae35-372d-9e05-af2c5e1caec3/888805167-250.jpg",
        "500": "http://coverartarchive.org/release/b9608c76-ae35-372d-9e05-af2c5e1caec3/888805167-500.jpg",
        "small": "http://coverartarchive.org/release/b9608c76-ae35-372d-9e05-af2c5e1caec3/888805167-250.jpg",
        "large": "http://coverartarchive.org/release/b9608c76-ae35-372d-9e05-af2c5e1caec3/888805167-500.jpg"}}],
        "release": "https://musicbrainz.org/release/b9608c76-ae35-372d-9e05-af2c5e1caec3"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
