interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/release?fmt=json&limit=25&query=barcode%3A%22720642442524%22
  response:
    body:
      string: "{\"created\":\"2026-07-05T08:32:05.492Z\",\"count\":25,\"offset\":0,\"releases\":[{\"id\":\"78bd9f99-f9db-4cd7-962d-ceeaa946c4c0\",\"score\":100,\"status-id\":\"4e304316-386d-3409-af2e-78857eec5cfe\",\"artist-credit-id\":\"21861ceb-db10-3e6e-bab7-47a6e8a5492f\",\"count\":1,\"title\":\"Nevermind\",\"status\":\"Official\",\"text-representation\":{\"language\":\"eng\",\"script\":\"Latn\"},\"artist-credit\":[{\"name\":\"Nirvana\",\"artist\":{\"id\":\"5b11f4ce-a62d-471e-81fc-a69a8278c7da\",\"name\":\"Nirvana\",\"sort-name\":\"Nirvana\",\"disambiguation\":\"1980s\u20131990s
        US grunge band\"}}],\"release-group\":{\"id\":\"1b022e01-4da6-387b-8658-8678046e4cef\",\"type-id\":\"f529b476-6e62-324f-b0aa-1f3e33d313fc\",\"primary-type-id\":\"f529b476-6e62-324f-b0aa-1f3e33d313fc\",\"title\":\"Nevermind\",\"primary-type\":\"Album\"},\"date\":\"\",\"country\":\"CA\",\"release-events\":[{\"date\":\"\",\"area\":{\"id\":\"71bbafaa-e825-3e15-8ca9-017dcad1748b\",\"name\":\"Canada\",\"sort-name\":\"Canada\",\"iso-3166-1-codes\":[\"CA\"]}}],\"barcode\":\"720642442524\",\"label-info\":[{\"catalog-number\":\"DGCD-24425\",\"label\":{\"id\":\"68803e28-86fe-4a95-985f-8e493795ab31\",\"name\":\"DGC
        Records\"}}],\"track-count\":12,\"media\":[{\"id\":\"c20b6a16-adec-34c4-a093-546b3f55bffe\",\"format\":\"CD\",\"disc-count\":1,\"track-count\":12}]},{\"id\":\"eb51c6f1-f5e2-4a91-acb2-44a26aec4e6b\",\"score\":100,\"status-id\":\"1156806e-d06a-38bd-83f0-cf2284a808b9\",\"packaging-id\":\"ec27701a-4a22-37f4-bfac-6616e0f9750a\",\"artist-credit-id\":\"94fb33d2-8c8b-3eea-bf26-5fb7829c0ad5\",\"count\":1,\"title\":\"1999-07-25:
        Woodstock '99, Rome, NY, USA\",\"status\":\"Bootleg\",\"disambiguation\":\"soundboard
        recording from TV broadcast\",\"packaging\":\"Jewel Case\",\"text-representation\":{\"language\":\"eng\",\"script\":\"Latn\"},\"artist-credit\":[{\"name\":\"Megadeth\",\"artist\":{\"id\":\"a9044915-8be3-4c7e-b11f-9e2d2ea0a91e\",\"name\":\"Megadeth\",\"sort-name\":\"Megadeth\"}}],\"release-group\":{\"id\":\"523f85a7-2d42-486e-8c40-6aed96a4ea4b\",\"type-id\":\"6fd474e2-6b58-3102-9d17-d6f7eb7da0a0\",\"primary-type-id\":\"f529b476-6e62-324f-b0aa-1f3e33d313fc\",\"title\":\"1999-07-25:
        Woodstock '99, Rome, NY, USA\",\"primary-type\":\"Album\",\"secondary-types\":[\"Live\"],\"secondary-type-ids\":[\"6fd474e2-6b58-3102-9d17-d6f7eb7da0a0\"]},\"date\":\"1999\",\"country\":\"US\",\"release-events\":[{\"date\":\"1999\",\"area\":{\"id\":\"489ce91b-6658-3307-9877-795b68554c98\",\"name\":\"United
        States\",\"sort-name\":\"United States\",\"iso-3166-1-codes\":[\"US\"]}}],\"barcode\":\"720642442524\",\"label-info\":[{\"label\":{\"id\":\"273923e0-bc9c-4b59-8317-21d4eede6429\",\"name\":\"Bondage
        Music\"}}],\"track-count\":16,\"media\":[{\"id\":\"89a971b5-8c3a-3b49-87ef-51522ee07943\",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/release/8e061dc4-790e-4587-ba53-011e7852f88d?fmt=json&inc=artists%2Bartist-credits%2Brecordings%2Brelease-groups%2Bmedia%2Bisrcs%2Blabels%2Bgenres%2Brecording-level-rels%2Bwork-level-rels%2Brelease-rels%2Bartist-rels%2Bwork-rels
  response:
    body:
      string: "{\"release-events\":[{\"date\":\"1991-09-24\",\"area\":{\"type\":null,\"disambiguation\":\"\",\"sort-name\":\"United
        States\",\"name\":\"United States\",\"type-id\":null,\"iso-3166-1-codes\":[\"US\"],\"id\":\"489ce91b-6658-3307-9877-795b68554c98\"}}],\"media\":[{\"id\":\"c3e97a4e-ac8a-3ccf-aa52-000dedf9a34e\",\"track-offset\":0,\"track-count\":12,\"tracks\":[{\"number\":\"1\",\"recording\":{\"artist-credit\":[{\"artist\":{\"disambiguation\":\"1980s\u20131990s
        US grunge band\",\"type\":\"Group\",\"sort-name\":\"Nirvana\",\"country\":\"US\",\"id\":\"5b11f4ce-a62d-471e-81fc-a69a8278c7da\",\"name\":\"Nirvana\",\"type-id\":\"e431f5f6-b5d2-343d-8b36-72607fffb74b\"},\"name\":\"Nirvana\",\"joinphrase\":\"\"}],\"genres\":[{\"name\":\"alternative
        rock\",\"count\":6,\"id\":\"ceeaa283-5d7b-4202-8d1d-e25d116b2a18\",\"disambiguation\":\"\"},{\"name\":\"grunge\",\"count\":24,\"disambiguation\":\"\",\"id\":\"3f08faa9-6c3e-4b6d-b4b8-08eea45954e2\"},{\"disambiguation\":\"\",\"id\":\"911c7bbb-172d-4df8-9478-dbff4296e791\",\"count\":1,\"name\":\"pop\"},{\"name\":\"punk
        rock\",\"count\":1,\"disambiguation\":\"\",\"id\":\"bd7e1d40-43b1-4ba5-97b3-05b891466962\"},{\"name\":\"rock\",\"id\":\"0e3fc579-2d24-4f20-9dae-736e1ec78798\",\"disambiguation\":\"\",\"count\":4}],\"disambiguation\":\"\",\"first-release-date\":\"1991-09-10\",\"relations\":[{\"attribute-values\":{},\"attribute-ids\":{\"assistant\":\"8c4196b1-7053-4b16-921a-f22b2898ed44\"},\"artist\":{\"country\":null,\"disambiguation\":\"engineer\",\"type\":\"Person\",\"sort-name\":\"Johnson,
        James\",\"name\":\"James Johnson\",\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\",\"id\":\"221921a3-51fd-4a6e-8e24-f81510f43915\"},\"ended\":false,\"type\":\"engineer\",\"end\":null,\"direction\":\"backward\",\"begin\":null,\"type-id\":\"5dcc52af-7064-4051-8d62-7d80f4c3c907\",\"attributes\":[\"assistant\"],\"target-credit\":\"\",\"source-credit\":\"\",\"target-type\":\"artist\"},{\"attribute-ids\":{},\"attribute-values\":{},\"direction\":\"backward\",\"type\":\"engineer\",\"end\":null,\"ended\":false,\"artist\":{\"country\":\"US\",\"type\":\"Group\",\"disambiguation\":\"1980s\u20131990s
        US grunge band\",\"sort-name\":\"Nirvana\",\"name\":\"Nirvana\",\"type-id\":\"e431f5f6-b5d2-343d-8b36-72607fffb74b\",\"id\":\"5b11f4ce-a62d-471e-81fc-a69a8278c7da\"},\"type-id\":\"5dcc52af-7064-4051-8d62-7d80f4c3c907\",\"begin\":null,\"target-type\":\"artist\",\"sourc[...]
