interactions:
- request:
    body: client=REDACTED&clientversion=REDACTED&format=json&meta=recordings+releasegroups+releases+tracks+compress+sources&fingerprint=AQADtImmJYkkSYDYLc2Ra0ZNGBZ6_HhO5Eje43gSbviLnkWTEz_xGX9RX7B-vEQ6DeKPjiLyCD2aLOpxNHvR4yPxF05zfEgm80iNM8fj4z2er_DxDUXX5XhQ47iQH5eG49Deo_mCBw9O9DoaHNdxNDfy4fiPljyO76jV4ug13CryHcl1nMf5CK32I6EihA-H-3gz-EiuC9ETnHiKGjyI_rgRRj-SSTn6Gj5yHEd-4Phd_PjhC0aOhM-P6h-eVM1RcocfHT8uFl7Q7wKH48dJH23hD8jEOEd_QTu-HP6wBw9-HIc7QbjhA3H3QOxh8vhxHz8e_fiSHT_eHz_CzUfyKMelzUff4PrxBFuP73B-WEn0gJGYj_jRd[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/release/b9608c76-ae35-372d-9e05-af2c5e1caec3?fmt=json&inc=artists%2Bartist-credits%2Brecordings%2Brelease-groups%2Bmedia%2Bisrcs%2Blabels%2Bgenres%2Brecording-level-rels%2Bwork-level-rels%2Brelease-rels%2Bartist-rels%2Bwork-rels
  response:
    body:
      string: "{\"disambiguation\":\"\",\"id\":\"b9608c76-ae35-372d-9e05-af2c5e1caec3\",\"media\":[{\"position\":1,\"format-id\":\"9712d52a-4509-3d4b-a1a2-67c88c643e31\",\"track-count\":11,\"tracks\":[{\"id\":\"6afe3832-842d-3ae7-bd9d-9a11a7500747\",\"title\":\"Zigeunerweisen,
        op. 20\",\"length\":521000,\"number\":\"1\",\"artist-credit\":[{\"artist\":{\"id\":\"05f12d97-ecae-4fd6-bb03-53a4bd1322a8\",\"disambiguation\":\"violinist
        and composer\",\"name\":\"Pablo de Sarasate\",\"sort-name\":\"Sarasate, Pablo
        de\",\"country\":\"ES\",\"type\":\"Person\",\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\",\"genres\":[]},\"name\":\"Pablo
        de Sarasate\",\"joinphrase\":\"\"}],\"recording\":{\"isrcs\":[\"DEF059204000\"],\"length\":521000,\"video\":false,\"title\":\"Zigeunerweisen,
        op. 20\",\"relations\":[{\"target-credit\":\"\",\"attributes\":[],\"source-credit\":\"\",\"attribute-values\":{},\"direction\":\"backward\",\"type-id\":\"234670ce-5f22-4fd0-921b-ef1662695c5d\",\"attribute-ids\":{},\"type\":\"conductor\",\"artist\":{\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\",\"type\":\"Person\",\"sort-name\":\"Levine,
        James\",\"country\":\"US\",\"disambiguation\":\"US conductor and pianist\",\"name\":\"James
        Levine\",\"id\":\"37a2d213-9c2b-4216-a02c-10b1e150c130\"},\"ended\":true,\"end\":\"1992-11\",\"begin\":\"1992-11\",\"target-type\":\"artist\"},{\"end\":\"1992-11\",\"target-type\":\"artist\",\"begin\":\"1992-11\",\"artist\":{\"id\":\"206e3a6b-301f-4a0d-8632-7dfd7927cbcf\",\"name\":\"Anne\u2010Sophie
        Mutter\",\"disambiguation\":\"violinist\",\"country\":\"DE\",\"sort-name\":\"Mutter,
        Anne\u2010Sophie\",\"type\":\"Person\",\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\"},\"ended\":true,\"attribute-credits\":{},\"attribute-values\":{},\"source-credit\":\"\",\"direction\":\"backward\",\"attributes\":[\"violin\"],\"target-credit\":\"\",\"attribute-ids\":{\"violin\":\"089f123c-0f7d-4105-a64e-49de81ca8fa4\"},\"type\":\"instrument\",\"type-id\":\"59054b12-01ac-43ee-a618-285fd397e461\"},{\"target-credit\":\"\",\"attributes\":[],\"direction\":\"backward\",\"attribute-values\":{},\"source-credit\":\"\",\"type-id\":\"3b6616c5-88ba-4341-b4ee-81ce1e6d7ebb\",\"attribute-ids\":{},\"type\":\"performing
        orchestra\",\"end\":\"1992-11\",\"begin\":\"1992-11\",\"target-type\":\"artist\",\"artist\":{\"type\":\"Orchestra\",\"type-id\":\"a0b36c92-3eb1-3839-a4f9-4799823f54a5\",\"sort-name\":\"Wiener
        Philharmoniker\",\"country\":\"AT\",\"disambiguation\":\"\",\"name\":\"Wiener
        Philharmoniker\",\"id\":\"d770374d-05e9-4ed3-a068-3fbd4e6e4dd6\"},\"ended\":true},{\"begin\":\"1992-11\",\"target-type\":\"artist\",\"end\":\"1992-11\",\"ended\":true,\"artist\":{\"id\":\"429d856c-bc57-4ce0-a2b8-6bb5dda8f226\",\"name\":\"Werner
        Mayer\",\"disambiguation\":\"classical producer\",\"country\":\"DE\",\"sort-name\":\"Mayer,
        Werner\",\"type\":\"Person\",\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\"},\"type-id\":\"5c0ceac3-feb4-41f0-868d-dc06f6e27fc0\",\"type\":\"producer\",\"attribute-ids\":{\"additional\":\"0a5341f8-3b1d-4f99-a0c6-26b7f4e42c7f\"},\"target-credit\":\"\",\"attributes\":[\"additional\"],\"attribute-values\":{},\"direction\":\"backward\",\"source-credit\":\"\"},{\"artist\":{\"id\":\"c856320c-d04a-448a-a81f-c0edab30d096\",\"disambiguation\":\"\",\"name\":\"Ewald
        Markl\",\"sort-name\":\"Markl, Ewald\",\"country\":null,\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\",\"type\":\"Person\"},\"ended\":false,\"end\":null,\"begin\":null,\"target-type\":\"artist\",\"target-credit\":\"\",\"attributes\":[\"co\"],\"source-credit\":\"\",\"attribute-values\":{},\"direction\":\"backward\",\"type-id\":\"5c0ceac3-feb4-41f0-868d-dc06f6e27fc0\",\"type\":\"producer\",\"attribute-ids\":{\"co\":\"ac6f6b4c-a4ec-4483-a04e-9f425a914573\"}},{\"direction\":\"backward\",\"source-credit\":\"\",\"attribute-values\":{},\"attributes\":[\"executive\"],\"target-credit\":\"\",\"attribute-ids\":{\"executive\":\"e0039285-6667-4f94-80d6-aa6520c6d359\"},\"type\":\"producer\",\"type-id\":\"5c0ceac3-feb4-41f0-868d-dc06f6e27fc0\",\"end\":null,\"target-type\":\"artist\",\"begin\":null,\"artist\":{\"type\":\"Person\",\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\",\"country\":\"US\",\"sort-name\":\"Wright,
        Roger\",\"name\":\"Roger Wright\",\"disambiguation\":\"pianist\",\"id\":\"a3fb3077-b1a0-4b2a-87db-0c47dd326bdf\"},\"ended\":false},{\"artist\":{\"id\":\"b7df46cd-54dd-4507-9b0e-bb248b201b79\",[...]
[...]
