interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/discid/-?fmt=json&inc=artist-credits&toc=1+12+267257+150+22767+41887+58317+72102+91375+104652+115380+132165+143932+159870+174597
  response:
    body:
      string: "{\"releases\":[{\"release-events\":[{\"area\":{\"type\":null,\"sort-name\":\"Europe\",\"iso-3166-1-codes\":[\"XE\"],\"disambiguation\":\"\",\"id\":\"89a675c2-3e37-3518-b83c-418bad59a85a\",\"type-id\":null,\"name\":\"Europe\"},\"date\":\"\"}],\"id\":\"02c001e4-42ad-48b5-8e50-cfd58a15005f\",\"disambiguation\":\"BIEM/MCPS,
        Made in France by Cinram Optical Discs\",\"title\":\"Nevermind\",\"media\":[{\"format\":\"CD\",\"discs\":[{\"offsets\":[192,22777,41897,58327,72110,91385,104660,115395,132185,143942,159877,174607],\"id\":\"eSYc6AlHqIoJuRcf47DZ9RQbxfQ-\",\"sectors\":267237,\"offset-count\":12}],\"position\":1,\"title\":\"\",\"id\":\"913c9b44-38e5-3d1f-be96-6980ccac75cb\",\"track-count\":12,\"format-id\":\"9712d52a-4509-3d4b-a1a2-67c88c643e31\"}],\"date\":\"\",\"asin\":null,\"status\":\"Official\",\"artist-credit\":[{\"name\":\"Nirvana\",\"artist\":{\"country\":\"US\",\"type\":\"Group\",\"disambiguation\":\"1980s\u20131990s
        US grunge band\",\"id\":\"5b11f4ce-a62d-471e-81fc-a69a8278c7da\",\"sort-name\":\"Nirvana\",\"type-id\":\"e431f5f6-b5d2-343d-8b36-72607fffb74b\",\"name\":\"Nirvana\"},\"joinphrase\":\"\"}],\"barcode\":\"720642442524\",\"text-representation\":{\"script\":null,\"language\":null},\"packaging\":\"Jewel
        Case\",\"packaging-id\":\"ec27701a-4a22-37f4-bfac-6616e0f9750a\",\"cover-art-archive\":{\"count\":5,\"back\":true,\"darkened\":false,\"front\":true,\"artwork\":true},\"status-id\":\"4e304316-386d-3409-af2e-78857eec5cfe\",\"country\":\"XE\",\"quality\":\"normal\"},{\"packaging\":\"Jewel
        Case\",\"text-representation\":{\"script\":\"Latn\",\"language\":\"eng\"},\"barcode\":\"602527779089\",\"quality\":\"normal\",\"status-id\":\"4e304316-386d-3409-af2e-78857eec5cfe\",\"country\":\"XE\",\"packaging-id\":\"ec27701a-4a22-37f4-bfac-6616e0f9750a\",\"cover-art-archive\":{\"artwork\":true,\"count\":4,\"front\":true,\"darkened\":false,\"back\":true},\"date\":\"2011-09-22\",\"title\":\"Nevermind\",\"media\":[{\"format\":\"CD\",\"position\":1,\"dis[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/release/88b363cb-86b2-431f-84b4-525d4aa7aa62?fmt=json&inc=artists%2Bartist-credits%2Brecordings%2Brelease-groups%2Bmedia%2Bisrcs%2Blabels%2Bgenres%2Brecording-level-rels%2Bwork-level-rels%2Brelease-rels%2Bartist-rels%2Bwork-rels
  response:
    body:
      string: "{\"status-id\":\"4e304316-386d-3409-af2e-78857eec5cfe\",\"barcode\":\"720642442524\",\"date\":\"1991\",\"media\":[{\"format\":\"CD\",\"title\":\"\",\"position\":1,\"track-offset\":0,\"id\":\"d4efe5e0-8660-3481-a81a-ae7e5c09895c\",\"tracks\":[{\"title\":\"Smells
        Like Teen Spirit\",\"artist-credit\":[{\"name\":\"Nirvana\",\"joinphrase\":\"\",\"artist\":{\"type-id\":\"e431f5f6-b5d2-343d-8b36-72607fffb74b\",\"sort-name\":\"Nirvana\",\"disambiguation\":\"1980s\u20131990s
        US grunge band\",\"country\":\"US\",\"type\":\"Group\",\"name\":\"Nirvana\",\"id\":\"5b11f4ce-a62d-471e-81fc-a69a8278c7da\"}}],\"id\":\"6b026b85-ff11-4780-9795-86a6b4012a05\",\"position\":1,\"number\":\"1\",\"length\":301133,\"recording\":{\"disambiguation\":\"\",\"video\":false,\"artist-credit\":[{\"joinphrase\":\"\",\"name\":\"Nirvana\",\"artist\":{\"disambiguation\":\"1980s\u20131990s
        US grunge band\",\"country\":\"US\",\"type\":\"Group\",\"name\":\"Nirvana\",\"id\":\"5b11f4ce-a62d-471e-81fc-a69a8278c7da\",\"sort-name\":\"Nirvana\",\"type-id\":\"e431f5f6-b5d2-343d-8b36-72607fffb74b\"}}],\"first-release-date\":\"1991-09-10\",\"id\":\"5fb524f1-8cc8-4c04-a921-e34c0a911ea7\",\"genres\":[{\"id\":\"ceeaa283-5d7b-4202-8d1d-e25d116b2a18\",\"disambiguation\":\"\",\"name\":\"alternative
        rock\",\"count\":6},{\"id\":\"3f08faa9-6c3e-4b6d-b4b8-08eea45954e2\",\"disambiguation\":\"\",\"count\":24,\"name\":\"grunge\"},{\"name\":\"pop\",\"count\":1,\"disambiguation\":\"\",\"id\":\"911c7bbb-172d-4df8-9478-dbff4296e791\"},{\"id\":\"bd7e1d40-43b1-4ba5-97b3-05b891466962\",\"count\":1,\"name\":\"punk
        rock\",\"disambiguation\":\"\"},{\"id\":\"0e3fc579-2d24-4f20-9dae-736e1ec78798\",\"disambiguation\":\"\",\"name\":\"rock\",\"count\":4}],\"relations\":[{\"end\":null,\"artist\":{\"country\":null,\"disambiguation\":\"engineer\",\"name\":\"James
        Johnson\",\"type\":\"Person\",\"id\":\"221921a3-51fd-4a6e-8e24-f81510f43915\",\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\",\"sort-name\":\"Johnson,
        James\"},\"attributes\":[\"assistant\"],\"target-type\":\"artist\",\"ended\":false,\"direction\":\"backward\",\"attribute-ids\":{\"assistant\":\"8c4196b1-7053-4b16-921a-f22b2898ed44\"},\"source-credit\":\"\",\"attribute-values\":{},\"type\":\"engineer\",\"begin\":null,\"target-credit\":\"\",\"type-id\":\"5dcc52af-7064-4051-8d62-7d80f4c3c907\"},{\"type-id\":\"5dcc52af-7064-4051-8d62-7d80f4c3c907\",\"type\":\"engineer\",\"attribute-values\":{},\"target-credit\":\"\",\"begin\":null,\"ended\":false,\"target-type\":\"artist\",\"direction\":\"backward\",\"source-credit\":\"\",\"attribute-ids\":{},\"end\":null,\"artist\":{\"sort-name\":\"Nirvana\",\"type-id\":\"e431f5f6-b5d2-343d-8b36-72607fffb74b\",\"id\":\"5b11f4ce-a62d-471e-81fc-a69a8278c7da\",\"disambiguation\":\"1980s\u20131990s[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://coverartarchive.org/release/88b363cb-86b2-431f-84b4-525d4aa7aa62
  response:
    body:
      string: 'See: https://archive.org/download/mbid-88b363cb-86b2-431f-84b4-525d4aa7aa62/index.json

        '
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://archive.org/download/mbid-88b363cb-86b2-431f-84b4-525d4aa7aa62/index.json
    status:
      code: 307
      message: TEMPORARY REDIRECT
- request:
    body: null
    headers:
    method: GET
    uri: https://archive.org/download/mbid-88b363cb-86b2-431f-84b4-525d4aa7aa62/index.json
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://dn710901.ca.archive.org/0/items/mbid-88b363cb-86b2-431f-84b4-525d4aa7aa62/index.json
      Onion-Location:
      - https://archivep75mbjunhxc6x4j5mwjmomyxb573v42baldlqu56ruil2oiad.onion/download/mbid-88b363cb-86b2-431f-84b4-525d4aa7aa62/index.json
      X-Fastcgi-Cache:
      - MISS
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://dn710901.ca.archive.org/0/items/mbid-88b363cb-86b2-431f-84b4-525d4aa7aa62/index.json
  response:
    body:
      string: '{"images":[{"approved":true,"back":false,"comment":"","edit":24307678,"front":true,"id":5519998880,"image":"http://coverartarchive.org/release/88b363cb-86b2-431f-84b4-525d4aa7aa62/5519998880.jpg","thumbnails":{"1200":"http://coverartarchive.org/release/88b363cb-86b2-431f-84b4-525d4aa7aa62/5519998880-1200.jpg","250":"http://coverartarchive.org/release/88b363cb-86b2-431f-84b4-525d4aa7aa62/5519998880-250.jpg","500":"http://coverartarchive.org/release/88b363cb-86b2-431f-84b4-525d4aa7aa62/5519998880-500.jpg","large":"http://coverartarchive.org/release/88b363cb-86b2-431f-84b4-525d4aa7aa62/5519998880-500.jpg","small":"http://coverartarchive.org/release/88b363cb-86b2-431f-84b4-525d4aa7aa62/5519998880-250.jpg"},"types":["Front"]},{"approved":true,"back":true,"comment":"","edit":24307683,"front":false,"id":5520001232,"image":"http://coverartarchive.org/release/88b363cb-86b2-431f-84b4-525d4aa7aa62/5520001232.jpg","thumbnails":{"1200":"http://coverartarchive.org/release/88b363cb-86b2-431f-84b4-525d4aa7aa62/5520001232-1200.jpg","250":"http://coverartarchive.org/release/88b363cb-86b2-431f-84b4-525d4aa7aa62/5520001232-250.jpg","500":"http://coverartarchive.org/release/88b363cb-86b2-431f-84b4-525d4aa7aa62/5520001232-[...]
