interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/discid/78MUjxQ_365SFuDcykZxpqGoG2A-?fmt=json&inc=artist-credits
  response:
    body:
      string: '{"sectors":336182,"releases":[{"media":[{"track-count":16,"id":"6935d54f-f5af-3e38-9e80-4f4cd3a3b158","discs":[{"offset-count":16,"offsets":[150,22275,42858,71735,89125,105235,125190,149103,168348,194608,217110,233310,249538,267648,288140,314203],"id":"2lsP32XDQmwGnd_h3ytyScUgCV8-","sectors":336125},{"offset-count":16,"offsets":[150,22072,42625,71427,88677,104607,124377,148185,167222,193450,215890,231882,247980,265980,286395,312350],"sectors":334202,"id":"6CQOn2pzWyUk0fLGK3aiSFq5HPk-"},{"offsets":[182,22307,42895,71775,89157,105257,125207,149132,168382,194645,217132,233345,249570,267682,288170,314245],"offset-count":16,"sectors":336[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/release/83bd362a-7de3-47a1-962f-c74b57e1b13e?fmt=json&inc=artists%2Bartist-credits%2Brecordings%2Brelease-groups%2Bmedia%2Bisrcs%2Blabels%2Bgenres%2Brecording-level-rels%2Bwork-level-rels%2Brelease-rels%2Bartist-rels%2Bwork-rels
  response:
    body:
      string: "{\"barcode\":\"731451847820\",\"text-representation\":{\"script\":\"Latn\",\"language\":\"eng\"},\"packaging\":\"Jewel
        Case\",\"packaging-id\":\"ec27701a-4a22-37f4-bfac-6616e0f9750a\",\"relations\":[],\"cover-art-archive\":{\"count\":3,\"front\":true,\"back\":true,\"darkened\":false,\"artwork\":true},\"status-id\":\"4e304316-386d-3409-af2e-78857eec5cfe\",\"country\":\"XE\",\"quality\":\"normal\",\"release-events\":[{\"area\":{\"disambiguation\":\"\",\"id\":\"89a675c2-3e37-3518-b83c-418bad59a85a\",\"sort-name\":\"Europe\",\"iso-3166-1-codes\":[\"XE\"],\"type\":null,\"name\":\"Europe\",\"type-id\":null},\"date\":\"1993-11\"},{\"date\":\"1993-11\",\"area\":{\"type-id\":null,\"name\":\"France\",\"type\":null,\"iso-3166-1-codes\":[\"FR\"],\"sort-name\":\"France\",\"disambiguation\":\"\",\"id\":\"08310658-51eb-3801-80de-5a0739207115\"}},{\"date\":\"1993-11\",\"area\":{\"name\":\"Germany\",\"type-id\":null,\"iso-3166-1-codes\":[\"DE\"],\"sort-name\":\"Germany\",\"id\":\"85752fda-13c4-31a3-bee5-0e5cb1f51dad\",\"disambiguation\":\"\",\"type\":null}}],\"id\":\"83bd362a-7de3-47a1-962f-c74b57e1b13e\",\"disambiguation\":\"PMDC
        France\",\"media\":[{\"id\":\"a585ac0b-0571-3e14-b814-d7d26be5981f\",\"title\":\"\",\"position\":1,\"format\":\"CD\",\"tracks\":[{\"artist-credit\":[{\"name\":\"Elton
        John\",\"joinphrase\":\" & \",\"artist\":{\"disambiguation\":\"English singer,
        songwriter, pianist, and composer\",\"id\":\"b83bc61f-8451-4a5d-8b8e-7e9ed295e822\",\"sort-name\":\"John,
        Elton\",\"country\":\"GB\",\"type\":\"Person\",\"name\":\"Elton John\",\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\"}},{\"name\":\"k.d.
        lang\",\"artist\":{\"country\":\"CA\",\"type\":\"Person\",\"id\":\"675c1c5e-5625-4a5e-97a2-b02aab5db2fc\",\"disambiguation\":\"\",\"sort-name\":\"lang,
        k.d.\",\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\",\"genres\":[{\"name\":\"country\",\"id\":\"5f665615-7fb3-49d8-b541-62a7b239edbe\",\"disambiguation\":\"\",\"count\":1},{\"name\":\"folk\",\"count\":1,\"disambiguation\":\"\",\"id\":\"a91eed3a-fdd0-494e-ade0-95ea4117f6eb\"}],\"name\":\"k.d.
        lang\"},\"joinphrase\":\"\"}],\"number\":\"1\",\"length\":295000,\"id\":\"0f1652e9-4e5f-3b35-bc08-aa395d1ffa3c\",\"position\":1,\"title\":\"Teardrops\",\"recording\":{\"relations\":[{\"begin\":null,\"artist\":{\"country\":\"US\",\"type\":\"Person\",\"disambiguation\":\"\",\"id\":\"0fc2b542-ecff-48a1-9802-f789a147c1e0\",\"sort-name\":\"Mardin,
        Arif\",\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\",\"name\":\"Arif
        Mardin\"},\"end\":null,\"target-credit\":\"\",\"type-id\":\"234670ce-5f22-4fd0-921b-ef1662695c5d\",\"ended\":false,\"type\":\"conductor\",\"attribute-values\":{},\"source-credit\":\"\",\"attributes\":[],\"attribute-ids\":{},\"direction\":\"backward\",\"target-type\":\"artist\"},{\"target-type\":\"artist\",\"direction\":\"backward\",\"attribute-ids\":{\"assistant\":\"8c4196b1-7053-4b16-921a-f22b2898ed44\"},\"attributes\":[\"assistant\"],\"source-credit\":\"\",\"attribute-values\":{},\"type\":\"engineer\",\"ended\":false,\"type-id\":\"5dcc52af-7064-4051-8d62-7d80f4c3c907\",\"target-credit\":\"\",\"artist\":{\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\",\"name\":\"Steve
        Holroyd\",\"type\":\"Person\",\"country\":\"GB\",\"sort-name\":\"Holroyd,
        Steve\",\"id\":\"0352445e-cb2d-4b86-88c4-68a846135685\",\"disambiguation\":\"\"},\"end\":null,\"begin\":null},{\"attribute-credits\":{},\"attributes\":[\"drums
        (drum set)\"],\"attribute-ids\":{\"drums (drum set)\":\"12092505-6ee1-46af-a15a-b5b468b6b155\"},\"target-type\":\"artist\",\"direction\":\"backward\",\"target-credit\":\"\",\"type-id\":\"59054b12-01ac-43ee-a618-285fd397e461\",\"ended\":false,\"begin\":null,\"end\":null,\"artist\":{\"type\":\"Person\",\"country\":\"US\",\"sort-name\":\"Bisquera,
        Curt\",\"id\":\"42a88adb-b265-41d1-a958-4b9744d361f8\",\"disambiguation\":\"\",\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\",\"name\":\"Curt
        Bisquera\"},\"source-credit\":\"\",\"type\":\"instrument\",\"attribute-values\":{}},{\"source-credit\":\"\",\"type\":\"instrument\",\"attribute-values\":{},\"target-credit\":\"\",\"type-id\":\"59054b12-01ac-43ee-a618-285fd397e461\",\"ended\":false,\"begin\":null,\"end\":null,\"artist\":{\"id\":\"aa82f6eb-ded9-4c0b-951d-2e638ca25c76\",\"disambiguation\":\"\",\"sort-name\":\"East,
        Nathan\",\"country\":\"US\",\"type\":\"Person\",\"name\":\"Nathan East\",\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\"},\"attribute-ids\":{\"bass\":\"6505f98c-f698-4406-8bf4-8ca43d05c36f\"},\"target-type\":\"artist\",\"direction\":\"backward\",\"attribute-credits\":{},\"attributes\":[\"bass\"]},{\"artist\":{\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\",\"name\":\"Elton
        John\",\"country\":\"GB\",\"type\":\"Person\",\"disambiguation\":\"English
        singer, songwriter, pianist, and composer\",\"id\":\"b83bc61f-8451-4a5d-8b8e-7e9ed295e822\",\"sort-name\":\"John,
        Elton\"},\"end\":null,\"begin\":null,\"ended\":false,\"target-credit\":\"\",\"type-id\":\"59054b12-01ac-43ee-a618-285fd397e461\",\"type\":\"instrument\",\"attribute-values\":{},\"source-credit\":\"\",\"attributes\":[\"keyboard\"],\"attribute-credits\":{},\"target-type\":\"artist\",\"direction\":\"backward\",\"attribute-ids\":{\"keyboard\":\"95b0c3d2-9606-4ef5-a019-9b7437f3adda\"}},{\"attribute-ids\":{\"guitar\":\"63021302-86cd-4aee-80df-2270d54f4978\"},\"target-type\":\"artist\",\"direction\":\"backward\",\"attribute-credits\":{},\"attributes\":[\"guitar\"],\"source-credit\":\"\",\"type\":\"instrument\",\"attribute-values\":{},\"target-credit\":\"\",\"type-id\":\"59054b12-01ac-43ee-a618-285fd397e461\",\"ended\":false,\"begin\":null,\"end\":null,\"artist\":{\"sort-name\":\"Parks,
        Dean\",\"id\":\"369a0105-b201-4cf9-9c92-ce055042829c\",\"disambiguation\":\"American
        session guitarist\",\"type\":\"Person\",\"country\":\"US\",\"name\":\"Dean
        Parks\",\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\"}},{\"attribute-ids\":{\"strings\":\"32eca297-dde6-45d0-9305-ae479947c2a8\"},\"direction\":\"backward\",\"target-type\":\"artist\",\"attribute-credits\":{},\"attributes\":[\"strings\"],\"source-credit\":\"\",\"attribute-values\":{},\"type\":\"instrument
        arranger\",\"type-id\":\"4820daa1-98d6-4f8b-aa4b-6895c5b79b27\",\"target-credit\":\"\",\"ended\":false,\"begin\":null,\"end\":null,\"artist\":{\"name\":\"Arif
        Mardin\",\"type-id\":\"b6e035f4-3ce9-331c-97df-83397230b0df\",\"disambiguation\":\"\",\"id\":\"0fc2b542-ec[...]
